<div id="container" style="max-width: 70vw;">
    <p id="tabName">{{ uploadFileName }}</p>
    <div id="monacoEditor-container" class="d-flex align-item-center justify-content-center">
        <ngx-monaco-editor 
            #editorM
            [options]="editorOptions"
            [(ngModel)]="code"
            style="height: 60vh; width: 90vw;"
        >
        </ngx-monaco-editor>
    </div>

    <div id="allBtns" class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-primary" id="uploadInput" (click)="uploadFileUsingFileSystemAPI()">Upload File FS</button>
        <button type="button" class="btn btn-secondary" (click)="saveFileUsingFileSystemAPI()">Save File FS</button>
        <button type="button" class="btn btn-success" id="compileRunCodeBtn" (click)="compileRunCode()">Compile & Run</button>
        <button type="button" class="btn btn-danger" (click)="resetEditor()">Reset</button>
    </div>
    <!--  -->

    <div *ngIf="showResultBox" id="outputWindow">
        <div id="displayRunning" *ngIf="showRunning"> 
            <div class="loader" style="display: inline-block;"></div> Running...
        </div>
        <p *ngIf="!showRunning" style="white-space: pre-line">{{ finalResult }}<p>
    </div>
</div>